.controle_sticker{
	/*position : absolute;*/
	z-index: 100;
	background-color: #FED067;
	border-style: outset;
	border-width: 1px;
	display: inline-block;/**/
	width: 150px;
	height : 300px;
	top : 200px;
	left : 0px;
	padding: 5px;
	border-radius:  5px;
}

/******************************************/
/* TRANSITIONS DU PANNEAU controle_sticker*/
.controle_sticker.ng-hide-add{
	opacity : 1.0; 
	display: inline-block !important;/**/

}

.controle_sticker.ng-hide-add-active{
	opacity : 0.0;
}

.controle_sticker.ng-hide-remove{
	opacity : 0.0; 
	display: inline-block !important;/**/
		-webkit-transition: opacity 500ms cubic-bezier(0.455, 0, 0.505, 1); 		/* older webkit */
		-webkit-transition: opacity 500ms cubic-bezier(0.455, -0.600, 0.505, 1.650); 
		   -moz-transition: opacity 500ms cubic-bezier(0.455, -0.600, 0.505, 1.650); 
		     -o-transition: opacity 500ms cubic-bezier(0.455, -0.600, 0.505, 1.650); 
		        transition: opacity 500ms cubic-bezier(0.455, -0.600, 0.505, 1.650); /* custom */	
}

.controle_sticker.ng-hide-remove-active{
	opacity : 1.0;
}
/*
.fader.ng-hide-add {
  opacity: 1.0;
  display: block !important;
  transition: opacity 1s;
}

.fader.ng-hide-add-active {
  opacity: 0;
}

.fader.ng-hide-remove {
  opacity: 0.0;
  display: block !important;
  transition: opacity 2s;
}

.fader.ng-hide-remove-active {
  opacity: 1.0;
}*/

/******************************************/




.imageControleSticker{
	/*display: block;
	opacity:0.2;*/
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/*-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
 	background-color:red;	
	background-color: #FFFFFF;*/
}

.imageControleSticker-appuye{
	padding-left : 5px;
	padding-top: 5px;
}

.ensembleHorizontalControlesSticker{
	border-radius: 2px;
	border-style: dotted;
	border-color: #0D0D0B;
	margin : 5px;
	border-width: 1px;
	padding : 5px;
	height: 35px;
}

.rotate{
    -webkit-transform : rotateX(0deg);	
    transition : -webkit-transform 1s linear;
}

.rotate:hover{
    -webkit-transform : rotateX(90deg);
}

.b_bold, .b_italic, .b_underline{	box-shadow: 2px 1px 2px #a21;	opacity: 1; 	background-color: #3917D9; }
.b_bold_appuye, .b_italic_appuye, .b_underline_appuye{
	margin : 1px 0px 0px 2px;
	box-shadow: 0px 0px 0px;
	opacity: 0.5;
	border-style: solid;
	border-width: 1px;
}
.b_bold:hover, .b_italic:hover, .b_underline:hover{
	margin : 1px 0px 0px 2px;
	box-shadow: 0px 0px 0px;
	opacity: 0.5;
	cursor : pointer;
}

.b_bold{	left : 15px;	/*transition : margin-left 300ms linear, margin-top 300ms linear;*/}
.b_italic{	left : 50px;	/*transition : margin-left 300ms linear, margin-top 300ms linear;*/}
.b_underline{	left : 85px;	}


.controle_fontsize{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;	
	display: inline-block;
	background-color: #FFFFFF;
	height : 35px;
	/*margin-left: 10px;*/
	left : 90px;
}

.b_fontsize{
	display : block;
}

.bs_fontsize{
	display : inline-block;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	top : 5px;
	/*left : 5px;*/
	/*margin-top: 5px;*/
}
.number_fontsize{
	display: inline-block;
	padding-left: 5px;/**/
	font : 2em;
}

 .b_fontsize_plus{
 	top :-2px;
 	position: relative;
 	cursor: pointer;
 }

 .b_fontsize_moins{
 	top : 5px;
 	position: relative;
 	cursor: pointer;
 }


.b_fontname{
	width: 100%;
}

.controlSticker{
	/**/position : absolute;
}

.controleSticker[ng\:cloak], .controleSticker[ng-cloak], .controleSticker.ng-cloak {
  display: none !important;
}

/* FEUILLE DE STYLE POUR QUAND LE CONTROLE SERA INDIVIDUALISE
.controle_sticker{
	position : absolute;
	height : 35px;
	width : 120px; 
	bottom : 2px;
	left : 0px;
}


.colonne{
	float: left;
	margin-left : 5px;
	background-color: #DDDCFA;
}

.deployable {
	visibility: hidden;
	transition : opacity 0.3s ease-in-out;	
}

.deployable:hover {
	/*visibility: hidden;
	opacity : 0.2;
}

.imageControleSticker.deployable{
	visibility: hidden;	
}

.imageControleSticker.deploye{
	
}

.imageControleSticker.deployeur{
	border-style: solid;
	border-width: 1px;
	transition : opacity 0.3s ease-in-out;
}

.imageControleSticker.deployeur:hover{
	cursor: pointer;
	opacity :0.5;
	padding-right: 5px; 
}

*/


