{% load staticfiles%}

<!DOCTYPE html>
<html>
<head>
	<title>Prototype  de fenêtres coulissants  </title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.10.3.custom.min.css"/>	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}defilement_infini/css/styles.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stickit/css/styles.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}defilement_infini/css/transitions.css">	
</head>


<body ng-app="appli" style="overflow: hidden" ng-controller="controleurDefileur" >

	<header>
		<div class= "header" >
			Tu veux laisser une trace de ta propre Histoire ? Ecris-là aujourd'hui ! Direction : {* direction *}----
	
		</div>
	</header>


	<defileur class = "defileur">	
		<div>	

			<panneau-defileur  emplacement = "gauche" class = "leftPanel panneau transitionDefileur container-appli-stickers" id = "panel0">
				{% include 'defilement_infini/panneau_principal.html' with	nom_champ="champ_gauche" %}			
			</panneau-defileur/>

			<panneau-defileur  emplacement = "centre" class = "centerPanel panneau transitionDefileur container-appli-stickers" id = "panel1">
				{% include 'defilement_infini/panneau_principal.html' with nom_champ="champ_centre" %}
			</panneau-defileur/>

			<panneau-defileur  emplacement = "droite" class = "rightPanel panneau transitionDefileur container-appli-stickers" id = "panel2">
				{% include 'defilement_infini/panneau_principal.html' with	nom_champ="champ_droite" %}
			</panneau-defileur/>					

			<img  	direction-gauche  src="{{ STATIC_URL }}defilement_infini/images/left_arrow.jpg"  class="arrow leftArrow"  id="leftArrow"  direction-gauche>		
			<img  	direction-droite  src="{{ STATIC_URL }}defilement_infini/images/right_arrow.jpg" class="arrow rightArrow" id="rightArrow" direction-droite>
		</div>
	</defileur>


<!--***Présentation cachée**-->
	<div id="motif-sticker" class="sticker">
		<div class="indications" id="posX"></div>
    	<div class="indications" id="posY"></div>
    </div>	

<!--************************-->	
</body>


<!---->
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>	
	<script type="text/javascript" src="{{ STATIC_URL }}js/angular.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>	
	<script type="text/javascript" src="{{ STATIC_URL }}js/angular/configurateur.js"></script>	
	<script type="text/javascript" src="{{ STATIC_URL }}defilement_infini/js/defileur.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}defilement_infini/js/chargeur_page.js"></script>	
	<script type="text/javascript" src="{{ STATIC_URL }}stickit/js/stickit.js"></script>	

</html>