			<img src="{{STATIC_URL}}stickit/images/controles_sticker/btn_transparent.png" class="transparentInterceptFocus">	
			<div class="ensembleHorizontalControlesSticker bloc_stickers_3 bloc_stickers_3a">
					<span><i><b><u>Background paper Sticker</u></b></i></span>
			</div>

			<div class="ensembleHorizontalControlesSticker bloc_stickers_3 bloc_stickers_3b">
			 		
			 		<input type="button" class="b_deployeur"  chromo-selector-deploy style='background-color : {*controles.stickit.backgroundcolor*};' name-control='backgroundcolorsticker_deploye' >

					
					<div class="conteneur backgroundcolor"></div>		



					<input type="text" size="20" class="eraser" name-property="backgroundcolor" chromo-selector  transparency="true">


			</div>	