<div class="ensembleHorizontalControlesSticker bloc_stickers_2 bloc_stickers_2a">
	
	<img  class= "controlSticker imageControleSticker b_justifyleft" b-justify ng-class='{b_justifyleft_appuye : etatControleJustify("justifyLeft")}' src="{{STATIC_URL}}stickit/images/controles_sticker/justify-left.png" ng-click = "handlerControles('justify', 'justifyLeft')"/>

	<img  class= "controlSticker imageControleSticker b_justifycenter" b-justify  ng-class='{b_justifycenter_appuye : etatControleJustify("justifyCenter")}' src="{{STATIC_URL}}stickit/images/controles_sticker/justify-center.png" ng-click = "handlerControles('justify', 'justifyCenter')"/>

	<img  class= "controlSticker imageControleSticker b_justifyright" b-justify  ng-class='{b_justifyright_appuye : etatControleJustify("justifyRight")}' src="{{STATIC_URL}}stickit/images/controles_sticker/justify-right.png" ng-click = "handlerControles('justify', 'justifyRight')"/>


	<img  class= "controlSticker imageControleSticker b_justifyfull" b-justify  ng-class='{b_justifyfull_appuye : etatControleJustify("justifyFull")}' src="{{STATIC_URL}}stickit/images/controles_sticker/justify-full.png" ng-click = "handlerControles('justify', 'justifyFull')"/>	
		 		
</div>	