
	<div ng-controller='controleurModuleStickit' class="appli-stickit"> 
		
		<section>
						<date-du-jour class='dateDuJour'  date='id'>
							{{id_date}}
						</date-du-jour>

		</section>
		
		<section>
			<div class="bandeau-horizontal">
				<div class="row">
					<div class="span3" ng-show=" ! options.modeDesign">
						<button class="btn btn-success" ng-click="toggleModeDesign()">
							Mode Affichage
						</button> <!-- {*options.modeDesign*}	-->
					</div>
	
					<div class="span3 ng-cloak" ng-show="options.modeDesign">
						<button class="btn btn-danger" ng-click="toggleModeDesign()">
							Mode  Design 
						</button>   <!--{*options.modeDesign*}-->	
					</div>

					<div class="span5">
						<panneau-warning-messages class="contenant-warning-message" ng-controller = "controleurModuleAfficheurWarning">
							<div class='warning-message' ng-show='show_message'>

							<!--<span><b>emplacement : </b>{* emplacement *}</span>/////
							<span><b>panneau : </b>{* panneau *}</span>/////
							<span><b>actif : </b>{* actif *}</span>		
							<span><b>message : </b>{* warning_message *}</span>	
							 -->				
							</div>
						</panneau-warning-messages>	
					</div>		

					<div class="span1">
						<div class="btn-group">
							<button class="btn sauverLesStickers" ng-click="sauvegarder()">
								Sauver 
						</div>						
					</div>	

				</div>
		
			</div>
			
			<div class="spacer"></div>			
		</section>



	
<!--{*<	options class=""></options>modeModifStickers*}-->	<!--{*<options 	class=""></options>modeModifCadres*}-->				
		<div class="corpsPage">	


			<!--<section>		</section>-->
		
			<div class="bandeau-vertical">
				<div class="span1" >
					<img create-sticker src="{{STATIC_URL}}stickit/images/controles_stickit/page_tourne.png" class="creation_sticker ng-cloak"	ng-show="options.modeDesign">
					<!--					<img src="{{STATIC_URL}}stickit/images/controles_stickit/oeil_ouvert.png" class="yeux ng-cloak" ng-show="<options 	class=""></options>modeDesign && options.modeModifStickers" ng-click="toggleModeModifStickers()">
					<img src="{{STATIC_URL}}stickit/images/controles_stickit/oeil_ferme.png" class="yeux ng-cloak" ng-show="<options class=	""></options>modeDesign && ! options.modeModifStickers" ng-click="toggleModeModifStickers()">	-->			 														
				</div>
	
				<div class="span1" >
					<!--			<img create-cadre-image src="{{STATIC_URL}}stickit/images/controles_stickit/insert_cadre_image.png" class="	creation_cadre_image ng-cloak"	 ng-show="options.modeDesign">
					<img src="{{STATIC_URL}}stickit/images/controles_stickit/oeil_ouvert.png" class="yeux  ng-cloak" ng-show="<options 	class=""></options>modeDesign && options.modeModifCadres" ng-click="toggleModeModifCadres()">
					<img src="{{STATIC_URL}}stickit/images/controles_stickit/oeil_ferme.png" class="yeux ng-cloak" ng-show="<options class=	""></options>modeDesign && ! options.modeModifCadres"  ng-click="toggleModeModifCadres()">	 			-->
				</div>	
			</div>

			<div container-stickers class="container-stickers" ng-class="{hidden : ! options.modeDesign}"> <!---->
			
				{% include "stickit/generation_page.html" %}	
			</div>
		</div>

	</div>


