<!--<div class="boiteAlerte" suppression-sticker>
	<span class="messageAlerte messageSuppressionSticker">Voulez-vous vraiment supprimer le sticker ?</span>
	<div class="confirmer"></div>
	<div class="infirmer"></div>
</div>

<div class="boiteAlerte" suppression-backgroundcadre>
	<div class="messageAlerte messageSuppressionBackgroundCadre">Voulez-vous vraiment supprimer le cadre ?</div>	
	<div class="confirmer"></div>
	<div class="infirmer"></div>	
</div>
-->

<div class="modal fade" id="modalConfirmation" modal-confirmation tabindex="-1" role="dialog" aria-labelledby="modalConfirmationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalConfirmationLabel">Suppression</h4>
      </div>
      <div class="modal-body">
        Supprimer cet élément ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger  infirmer "  data-dismiss="modal">Non</button>
        <button type="button" class="btn btn-primary confirmer">Oui</button>
      </div>
    </div>
  </div>
</div>





