{% load staticfiles %}
{% csrf_token %}

<!DOCTYPE html>
<html>
<head>
	<title>Prototype  de fenêtres coulissants  </title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.10.3.custom.min.css"/>	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}defilement_infini/css/styles.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}defilement_infini/css/transitions.css">	
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stickit/css/styles.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stickit/css/sticker/controls.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stickit/css/sticker/sticker.css">	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}warningMessages/css/warning_messages.css">		
</head>

 
<body ng-app="appli" style="overflow: hidden" ng-controller="controleurDefileur" >

	<header>
		<div class= "header" >
			Tu veux laisser une trace de ta propre histoire ? Ecris-là aujourd'hui ! 
	
		</div>
	</header>


	<defileur class = "defileur">	
		<div>	
			
			<div ng-controller="controleurPanneau" ng-init="emplacement = 'gauche'">	
				<panneau-defileur  emplacement = "gauche" class = "panneau_0 panneau transitionDefileur" id = "panel0"  ng-init="actif = false">
			
					{% include 'core/panneau_principal.html' with	nom_champ="champ_gauche" stickers=stickers_yesterday id_date=yesterday %}		

				</panneau-defileur/>
			</div>	

			<div ng-controller="controleurPanneau" ng-init="emplacement = 'centre'">	
				<panneau-defileur  emplacement = "centre" class = "panneau_1 panneau transitionDefileur" 	id = "panel1"   ng-init="actif = true">

						{% include 'core/panneau_principal.html' with nom_champ="champ_centre" stickers=stickers_today id_date=today%}
		
				</panneau-defileur/>
			</div>

			<div ng-controller="controleurPanneau" ng-init="emplacement = 'droite'">			
				<panneau-defileur  emplacement = "droite" class = "panneau_2 panneau transitionDefileur" 	id = "panel2"   ng-init="actif = false" >
				
						{% include 'core/panneau_principal.html' with	nom_champ="champ_droite" stickers=stickers_tomorrow id_date=tomorrow%}
					
				</panneau-defileur/>					
			</div>	


		</div>
	</defileur>

	<img  direction-gauche src="{{ STATIC_URL }}defilement_infini/images/left_arrow.jpg"  class="arrow leftArrow"  id="leftArrow" >	
	<img  direction-droite src="{{ STATIC_URL }}defilement_infini/images/right_arrow.jpg" class="arrow rightArrow" id="rightArrow">

<div id="motif-sticker" class="sticker">
		{% include 'stickit/motif_sticker.html' %}
</div>	

<!--Bibliothèques générales -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>-->
<!--	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>-->
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.4.custom.js"></script>	
		
	<script type="text/javascript" src="{{ STATIC_URL }}js/angular.1.2.10.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/angular-animate.1.2.10.min.js"></script>	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-collision.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-collision-resizable.js"></script>	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-draggable-collision.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>	
	<script type="text/javascript" src="{{ STATIC_URL }}js/dropzone.js"></script>	

<!--Bootstrap via angular -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/angular/configurateur.js"></script>	
<!--Module defileur, nécessite jquery-->
	<script type="text/javascript" src="{{ STATIC_URL }}defilement_infini/js/defileur.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}defilement_infini/js/chargeur_page.js"></script>	
<!--Module stickit, nécessite jquery, jqueryui, jquery-collision, jquery-collision-resizable, jquidcollision-->
	<script type="text/javascript" src="{{ STATIC_URL }}stickit/js/stickit.js"></script>	
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/angular/core.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}warningMessages/js/afficheurMessages.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}busEvent/js/busEvent.js"></script>	
</html>