<!--<div class="limitesEcran"></div>
	<span class = "sous-titre">	
		<div class="champDate" id="date_{{numero_panneau}}"> 

                                
		</div>
	</span>-->


	<div ng-controller='controleurModuleStickit' class="appli-stickit"> 
		
		<section>
						<date-du-jour class='dateDuJour'  date='id'>
							{{id_date}}<br/ >++{*  servicesStickit.stickerSelectionne *}**
						</date-du-jour>

		</section>
		
		<section>
			<div class="bandeau-des-actions">
				<div class="row">
					<div class="span3" ng-show=" ! options.modeDesign">
						<button class="btn btn-success" ng-click="toggleModeDesign()">
							Mode Affichage
						</button> 
					</div>
	
					<div class="span3" ng-show="options.modeDesign" ng-cloak>
						<button class="btn btn-danger" ng-click="toggleModeDesign()">
							Mode  Design
						</button> 
					</div>

					<div class="span3" >
						<img create-sticker src="{{STATIC_URL}}stickit/images/barre_actions/page_tourne_2.jpg" class="creation_sticker"	ng-show="options.modeDesign" ng-cloak>
						<img src="{{STATIC_URL}}stickit/images/controles_stickit/oeil_ouvert2.png" class="yeux" ng-show="options.modeDesign && options.modeModifStickers" ng-click="togglemodeModifStickers()" ng-cloak>
						<img src="{{STATIC_URL}}stickit/images/controles_stickit/oeil_ferme2.png" class="yeux" ng-show="options.modeDesign && ! options.modeModifStickers" ng-click="togglemodeModifStickers()" ng-cloak>																		
					</div>

					<div class="span3" >
						<img create-background-image src="{{STATIC_URL}}stickit/images/controles_stickit/insert_background_image.png" class="creation_background_image"	 ng-show="options.modeDesign" ng-cloak>	
						<img src="{{STATIC_URL}}stickit/images/controles_stickit/oeil_ouvert2.png" class="yeux" ng-show="options.modeDesign && options.modeModifCadres" ng-click="toggleModeModifCadres()"  ng-cloak>
						<img src="{{STATIC_URL}}stickit/images/controles_stickit/oeil_ferme2.png" class="yeux" ng-show="options.modeDesign && ! options.modeModifCadres"  ng-click="toggleModeModifCadres()" ng-cloak>							
					</div>
					
					<div class="span6">
						<panneau-warning-messages ng-controller = "controleurModuleAfficheurWarning" class="contenant-warning-message" >
							<div class='warning-message' ng-show='show_message'>

							<!--<span><b>emplacement : </b>{* emplacement *}</span>/////
							<span><b>panneau : </b>{* panneau *}</span>/////
							<span><b>actif : </b>{* actif *}</span>		
							<span><b>message : </b>{* warning_message *}</span>	-->				
							</div>
						</panneau-warning-messages>	
					</div>	

					<div class="span1">
						<div class="btn-group">
							<button class="btn sauverLesStickers" ng-click="sauvegarder()">
								Sauver
							</button>
						</div>						
					</div>	

				</div>
		
			</div>
			
			<div class="spacer"></div>			
		</section>


		<div class="corpsPage">

		<!--<div id="dropfile" contenteditable='true'>Drop an image from your computer</div>
		ng-class="{stickit_modeDesign_hidden : ! options.modeDesign}"-->

			<div container-stickers class="container-stickers"  style='background-color : {*controles.stickit.backgroundcolor*};' ng-class="{hidden : ! options.modeDesign}">{% include "stickit/generation_page.html" %}	
			</div>

			{% include "stickit/controles_sticker.html" %}	
		

		</div>
	</div>


