<!--<div class="limitesEcran"></div>
	<span class = "sous-titre">	
		<div class="champDate" id="date_{{numero_panneau}}"> 

                                
		</div>
	</span>-->


	<div ng-controller='controleurModuleStickit' class="appli-stickit"> 	
		<section>
			<div class="bandeau-des-actions">
				<div class="row">
					<div class="span3" ng-show=" ! options.modeDesign">
						<button class="btn btn-success" ng-click="toggleModeDesign()">
							Mode Affichage
						</button>
					</div>
					<div class="span3" ng-show="options.modeDesign" ng-cloak>
						<div ng-show="options.modeDesign" ng-cloak>
							<button class="btn btn-danger" ng-click="toggleModeDesign()">
								Mode  Design
							</button>
	
					  		<img create-sticker src="{{STATIC_URL}}stickit/images/barre_actions/page_tourne_2.jpg" class="creation_sticker"	 />
					  	</div>

					</div>
					
					<div class="span6">
						<panneau-warning-messages ng-controller = "controleurModuleAfficheurWarning" class="contenant-warning-message" >
							<div class='warning-message' ng-show='show_message'>

							<!--<span><b>emplacement : </b>{* emplacement *}</span>/////
							<span><b>panneau : </b>{* panneau *}</span>/////
							<span><b>actif : </b>{* actif *}</span>		
							<span><b>message : </b>{* warning_message *}</span>	-->				
							</div>
						</panneau-warning-messages>	
					</div>	
					<!-- style='visibility : hidden' -->				
					<div class="span3">	
						<date-du-jour class='dateDuJour'  date='id'>
							{{id_date}}
						</date-du-jour>
					</div>
					<div class="span1">
						<div class="btn-group">
							<button class="btn sauverLesStickers" ng-click="sauverlesStickers()">
								Sauver
							</button>
						</div>						
					</div>	

				</div>
		
			</div>
			
			<div class="spacer"></div>			
		</section>


		<div class="corpsPage">

		<!--<div id="dropfile" contenteditable='true'>Drop an image from your computer</div>-->

			<div container-stickers class="container-stickers stickit_modeDesign_hidden" ng-class="{stickit_modeDesign_hidden : ! options.modeDesign}" style='background-color : {*controles.stickit.backgroundcolor*};' >{% include "stickit/generation_stickers.html" %}	
			</div>

			{% include "stickit/controles_sticker.html"%}

		</div>
	</div>


