
		<span class = "sous-titre">	
			<div class="champDate" id="date_{{numero_panneau}}"> 
					Nombre de stickers reçus par le serveur pour le <u>{{id_date}}</u> : <b><i>{{stickers|length}}</i></b>
                                   
			</div>
		</span>


	<div ng-controller='controleurModuleStickit' class="appli-stickers"> 	
		<section>
			<div class="bandeau-des-actions">
				<div class="row">
					<div class="span3" ng-show=" ! modeDesign">
						<button class="btn btn-success" ng-click="toggleModeDesign()">
							Mode Affichage
						</button>
					</div>
					<div class="span3" ng-show="modeDesign" ng-cloak>
						<div ng-show="modeDesign" ng-cloak>
							<button class="btn btn-danger" ng-click="toggleModeDesign()">
								Mode  Design
							</button>
	
					  		<img create-sticker src="{{STATIC_URL}}stickit/images/barre_actions/page_tourne_2.jpg" class="creation_sticker"	 />
					  	</div>
					</div>
					<div class="offset4 span2">	
						<date-du-jour class='dateDuJour'  date='id'>
							{{id_date}}
						</date-du-jour>
					</div>
					<div class="span1">
						<div class="btn-group">
							<button class="btn sauverLesStickers" ng-click="sauverlesStickers()">
								Sauver
							</button>
						</div>						
					</div>	

				</div>
		
			</div>
		</section>

		<div class="spacer"></div>
		<div style="position: relative;">
			<div container-stickers class="container-stickers" >{% include "stickit/generation_stickers.html" %}			
			</div>

		</div>
	</div>

