[emplacement='gauche']{
	left : -100%;
	overflow-x : hidden;
}

[emplacement='centre'] {
	left: 0%;
	display : block;
}

[emplacement='droite']{
	left: 100%; 
	overflow-x : hidden;	
}

.transitionDefileur{	
    transition 				: 	left 	1.1s 	linear;
    -webkit-transition: left 	1.1s 	linear;
    -moz-transition: left 	1.1s 	linear;
    -o-transition: left 	1.1s 	linear;/**/

}

.noTransition{
	transition 		: 	none;
}
