[emplacement='gauche']{
	left : -100%;
}

[emplacement='centre'] {
	left: 0%;
}

[emplacement='droite']{
	left: 100%; 
}

.transitionDefileur{	
    transition 				: 	left 	1.5s 	linear;
}

.noTransition{
	transition 		: 	none;
}
