{% load staticfiles%}

<!DOCTYPE html>
<html>
<head>
	<title>Prototype  de fenêtres coulissants  </title>
	<link rel="stylesheet" type="'text/css'" href="{{ STATIC_URL }}core/css/styles.css">

</head>


<body ng-app="mon_appli" ng-controller="controleur" style="overflow: hidden">

	<div class= "header" >
		Tu veux écrire ton Histoire ? Pour aujourd'hui ? 
	</div>

	<div defileur>	
		{% include 'core/panneau_principal.html' 	with numero_panneau="0" nom_panneau="left" 		nom_champ="champ_gauche"%}
		{% include 'core/panneau_principal.html' 	with numero_panneau="1" nom_panneau="center" 	nom_champ="champ_centre"%}
		{% include 'core/panneau_principal.html' 	with numero_panneau="2" nom_panneau="right" 	nom_champ="champ_droite"%}
		<img src="{{ STATIC_URL }}core/images/left_arrow.jpg"  class="leftArrow"  id="leftArrow"  direction-gauche>		
		<img src="{{ STATIC_URL }}core/images/right_arrow.jpg" class="rightArrow" id="rightArrow" direction-droite>
	</div>
</body>


<!---->
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/angular.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}core/js/interactivite_avec_angular.js"></script>
</html>