.header
{
	background-color: #FCDFC2;
	text-align: center;		font-style: italic;		font-size: 22px;	color: #040A63;
}

.date{	margin-left: 	3%;		background-color: white;	width: 25%	;	height: 8%;}

.collideEnable{	border-width: 3px;	border-color: #0A2E41;	border-style : dotted;	}

.dateDuJour
{
	position: absolute;		top : 40px;		left : 1300px;
	text-align: center;		font-style: italic;		font-weight: bold;		text-decoration: underline;		font-size: 22px;
}

.sous-titre{	padding-left: 10%;	}

.bandeau-horizontal
{
	height : 40px;
	/*margin : auto;*/
	margin-top: 20px;
	background-color: #F5F1D3;/*#ADD2E7*/
	padding : 10px 0px 10px 0px;
	min-width: 350px;	
}

/**********************************/
/* controles du panneau horizontal*/
/**********************************/
.btn_sauverLesStickers{
	position : absolute;
	right : 25px;
	top : 5px;
}

.panneau_warning_messages{
	position : absolute;
	right : 25px;
	bottom : 1px;
	min-width : 150px;
	overflow : hidden;/**/
}

.spacer{	height : 10px;	background-color: #456;}
.spacer, .bandeau-horizontal{	width : 85%;	position: relative;		 padding-left: 40px;		left : 20px; /*margin-left : 20px;*/}




/********************************/
/*    bandeau vertical gauche   */ 
/*******************************/
.bandeau-vertical{
	background-color : #F7EEAA;
	width : 80px;		height: 80%;
	/*position: absolute;*/
	bottom : 10px;		top : 10px ; 	left : 20px;
	position : relative;		float	:	left;		/*overflow:hidden	;*/
	border-radius : 0px 10px 10px 0px;
}
.bandeau-vertical .yeux:hover{	cursor : pointer;}
.bandeau-vertical .yeux{		position: relative;		width : 25px ;	height : 30px;	left : 5px;}

.bandeau-vertical .creation_sticker_box{
	position : relative;	top : 45px;/*; border-color: #000; border-style: dotted; border-width: 1px*/
}
.bandeau-vertical .creation_sticker_btn{
	width  : 25px;		height : 30px;
	position: absolute;	right : 5px;
	/*margin : 50px 0px 0px 0px;*/
}
.bandeau-vertical .creation_sticker_btn:hover{	cursor : move;		width  : 37px;		height : 45px;}
.bandeau-vertical .creation_sticker_box .yeux{					}


.bandeau-vertical .creation_cadre_box{
	position : relative;	top : 140px;/*border-color: #000; border-style: dotted; border-width: 1px*/
}
.bandeau-vertical .creation_cadre_btn{
	width  : 25px;		height : 30px; 
	position: absolute;		right : 5px;
}
.bandeau-vertical .creation_cadre_btn:hover{	cursor : move;		width  : 37px;		height : 45px;}
.bandeau-vertical .creation_cadre_box .yeux{					}

.bandeau-vertical .creation_canvas_box{
	position : relative;	top : 235px;/*border-color: #000; border-style: dotted; border-width: 1px*/
}
.bandeau-vertical .creation_canvas_btn{
	width  : 25px;		height : 30px; 
	position: absolute;		right : 5px;
}
.bandeau-vertical .creation_canvas_btn:hover{	cursor : move;		width  : 37px;		height : 45px;}
.bandeau-vertical .creation_canvas_box .yeux{					}


/*****************************************/
/* le conteneur de stickers au centre    */
/*****************************************/
.container-stickers
	{
	background-color: rgba(238, 224, 226, 0.22);
	/*visibility: hidden;*/
	display: none;/*/**/
	border: 1px dotted	rgb(58, 156, 241);
	/*margin: 20px 0px 0px 100px;*/
	left : 9%;	top : 10px;
	border-style: outset;
	width: 80%;		height: 80%;	
	position: relative;		/*float : left;	left : 200px;*/
}




/* générique ?????????????????????*/
[ng\:cloak], [ng-cloak],  [ng-cloak=""], .ng-cloak {
  display: none !important;
}
.date{	margin-left: 	3%;		background-color: white;	width: 25%	;	height: 8%;}


