<!--*** motif de sticker qui va être appliqué **-->

	<div class="contenantSticker">
		<div class="contenuSticker" contentEditable='true' style='{{sticker.style}}'  ng-class="{stickerModified : stickerModified}">{{	sticker.contenu | safe}}</div>
		<div class="titreSticker"  ng-class="{stickerModified : stickerModified}"></div>
	

		<img src="{{STATIC_URL}}stickit/images/controles_sticker/deleteSticker.png" class="boutonSupprimerSticker"/ ng-click="supprimerSticker(idSticker)">
		<!--{% include "stickit/controles_sticker.html"%}-->
	</div>
