<!--*** motif de sticker qui va être appliqué **-->
<!--ng-class="{stickerModified : stickerModified}"-->

	<div class="contenantSticker">
		<contenu-sticker class="contenuSticker" contenteditable="{*options.modeDesign*}" style='{{sticker.style}}'  ng-class="{visible : ! options.modeDesign || options.modeModifStickers, hidden : options.modeDesign && ! options.modeModifStickers}" >{{	sticker.contenu | safe}}</contenu-sticker>
		<div class="titreSticker"  ng-class="{stickerModified : stickerModified}"></div>
	

		<img src="{{STATIC_URL}}stickit/images/controles_stickit/supprimer.png" class="boutonSupprimerSticker"/ ng-click="supprimerSticker(idSticker)">
	</div>
